.scene-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Everything that scrolls */
.scene-world {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2000px; /* wider than viewport */
    display: block;
}

/* Background image */
.scene-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

/* Interactive items */
.item {
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.key {
    width: 40px;
    height: 20px;
    left: 620px;
    top: 380px;

}

.note {
    width: 60px;
    height: 50px;
    left: 1100px;
    top: 300px;
}

