button {
    width: 100%;
    padding: 0.6rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-accent-color);
}

.message {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.message.error {
    color: #ff6b6b;
}

.message.success {
    color: #6bff95;
}

input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: none;
}
