.scene-viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scene-world {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2000px;
}

.scene-world.hidden {
    display: none;
}

.scene-world.active {
    display: block;
}

.scene-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.item {
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.item:hover {

    background-color: transparent;
    filter: brightness(10);
}

.arrow {
    width: 40px;
    height: 20px;
    left: 620px;
    top: 380px;

}

.note {
    width: 60px;
    height: 50px;
    left: 1100px;
    top: 300px;
}

