.login-container, .registration-container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
}

.extra-links {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.85rem;
}

.error {

    font-size: small;
    font-style: italic;
    margin-bottom: 0.5rem;

}

body {

    display: flex;

}